@import '../../../../styles.scss';

.c-login{

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    position: relative;

    &__lang{

        font-size: 14px;
        color: $color-gray    
    }

    &__logo {

        margin: 45px auto;    
            
        img{
            width: 175px;
        }
    }

    &__btnfb{

        width: 80%;

        button{
            
            width: 100%;            
            border: none;
            background: $color-btn-blue;
            padding: 6px;
            border-radius: 3px;
            
            &:active {

                background: rgb(116, 193, 245);
            }
            
            

            a {
                display: flex;
                color: #ffff;
                font-weight: 600;
                font-size: 14px;
                width: 100%;
                justify-content: center;               

                img{

                    width: 18px;
                    margin: 0 5px;
                }
            }
        }
    }

    &__or {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 25px 0;

        div {

            background-color: #dbdbdb;            
            width: 42%;             
            height: 1px;                    
                   
        }

        span{

            width: 16%;
            text-align: center;
            font-size: 13px;
            color: $color-gray;
            font-weight: 600; 
        }
    }

    &__form{
        
        width: 80%;
        display: flex;
        flex-direction: column;
        
        input{

           margin: 4px 0;
           border: 1px solid lightgrey;
           border-radius: 3px;
           padding: 8px;
           background: #FAFAFA;

           &::placeholder {

             font-size: 12px;
             color: $color-gray;  
             
           }
        }

        &--resetpass{
           
            display: flex;
            justify-content: flex-end;
            margin: 5px 0;

            a{
                color: $color-btn-blue;
                font-size: 14px;
                padding: 5px 0;
            }
        }

        .button{
            
            width: 100%;            
            border: none;
            background: $color-btn-blue;
            padding: 6px;
            border-radius: 3px;
            color: #ffff;
            font-weight: 600;
            margin: 20px 0;
            
            &:active {

                background: rgb(116, 193, 245);

            }  
        }
        .buttondisable{
            
            width: 100%;            
            border: none;
            background: $color-btn-blue-disable;
            padding: 6px;
            border-radius: 3px;
            color: #ffff;
            font-weight: 600;
            margin: 20px 0;
            
            &:active {

                background: rgb(116, 193, 245);

            }
        }  
    }

    &__footer{
        
        display: flex;
        flex-direction: column;   
        position: absolute;
        bottom: 20px;  
        
        span{
            
            text-align: center;
            margin:5px;
            font-size: 12px;
        }
        img{
           
            width: 60px;            
        
        }
    }   
}