@import '../../../../styles.scss';

.c-activity{
    
    width: 100%;
 
    &__header {
        width: 100%;
        height: 45px;      
        display: flex;
        justify-content: center;
        align-items: center; 
        border-bottom: 1px solid $color-light-gray;       

        &--title {

            width: 100%;

            @include desktop {

                width: 60%;
            }

            p{
                font-size: 14px;
                font-weight: 600;            
                text-align: center;
            }
        }
    }


    &__gallery {
        width: 100%;
        margin: 40px auto;
        
        @include desktop {
            width: 60%;

        }

        &--main {
            max-width: 900px;            
            margin: 0 auto;
            display: flex;       
            flex-wrap: wrap;     

           
            &--img{
                width: 32.8%;
                aspect-ratio: 1/1;  
                max-width: 293px;         
                margin: 1px;
                
                @include desktop {                   
               
                    width: 31%;
                    margin: 1%;

                }
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
    
                }
            }


        }

        
        

    

        
    }
   

}