@import '../../../../../styles.scss';


.c-headerprofile{

    display: flex;
    width: 100%;    
    justify-content: center;
    align-items: center;
    padding: 8px 15px;
    border-bottom: 1px solid $color-light-gray;
    position: fixed;
    height: 50px;
    top:0;
    background: #fff;
   
    
    
    &__header {
        display: flex;
        flex-direction: row;
        width: 100%;    
        justify-content:space-between;
        align-items: center;
           
        
        @include desktop {
            
            width: 60%;
        }
    
        
        &--config{
    
            margin: 2px;
            
            img{
                width: 24px
            }      
            
        }
        
        
        &--explore{
            
            margin: 2px;
            
            img{
                width: 25px
            }
        }
    }

}