@import '../../../../../styles.scss';


.c-headerprofile{

    display: flex;
    width: 100%;    
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
    border-bottom: 1px solid $color-light-gray;
    position: absolute;
    height: 50px;
    top:0;
    background: #ffff;

    &__config{

        margin: 2px;
        
        img{
            width: 24px
        }      
        
    }
    
    
    &__explore{
        
        margin: 2px;
        
        img{
            width: 25px
        }
    }
}