<div class="c-gallerydetails">

    <div class="c-gallerydetails__header">
        <div class="c-gallerydetails__header--bar">
            <div class="c-gallerydetails__header--bar--item">
                <button>
                    <img (click)="goTo(post.userId.username)" src="{{arrowBack.src}}" alt="{{arrowBack.alt}}">
                </button>
                <div>
                    <p>Foto</p>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="post" class="c-gallerydetails__user">
        <div class="c-gallerydetails__user--profile">
            <div  class="c-gallerydetails__user--profile--img">
                <img src="{{post.userId.image ? post.userId.image  : 'https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg' }}" alt="userimage">
            </div>
            <div class="c-gallerydetails__user--profile--parag">
                <strong (click)="goTo(post.userId.username)">{{post.userId.username}} </strong>
            </div>
        </div>

        <div class="c-gallerydetails__user--options">
            <img src="{{optionsIcon.src}}" alt="{{optionsIcon.alt}}">
        </div>

    </div>

    <div *ngIf="post; else nopost" class="c-gallerydetails__infopost">
        <figure>
            <img src="{{post.image}}" alt="{{post.caption}}">
        </figure>
    
        <figcaption>
            <strong (click)="goTo(post.userId.username)">{{post.userId.username}} </strong> <span>{{post.caption}}</span>
        </figcaption>
        <time datetime="">
            {{date}}
        </time>
     
    </div>
    <ng-template  #nopost>
        <div class="c-gallerydetails__nopost" > 
            <img src="https://i.ibb.co/R7pGHnm/no-image-available-icon-6.png" alt="no image to show">
        </div>

    </ng-template>
</div>