main {

    max-width: 375px;
    //border: 4px solid rgb(201, 35, 35);
    aspect-ratio: 9/16;
    min-width: 375px;
    height: 667px;
    //max-height: 667px;
    overflow: overlay;
    background: #fff;
   
    

    &::-webkit-scrollbar {
      
        width: 6px;
                 
    }

    &::-webkit-scrollbar-thumb {                            
        background: lightgray;
        background: transparent;
        border-radius: 10px;

        &:hover {
            
            background: rgb(121, 120, 120);
        }

        &:active {
            background: rgb(121, 120, 120);
        }
    }         
    
}