<div class="c-onboarding">
    <div class="c-onboarding__lang">
        <label for="">Español (España)</label>        
    </div>

    <div class="c-onboarding__main">

        <div class="c-onboarding__main--logo">
            <img src="{{logoInsta.src}}" alt="{{logoInsta.alt}}">            
        </div>

        <div class="c-onboarding__main--title">
            <p>Regístrate para ver fotos y vídeos de tus amigos.</p>
            <button ><a href="{{linkToStore}}">{{btn.name}}</a></button>            
            <div class="c-onboarding__main--title--a" >
                <a [routerLink]="['/login']">Entrar</a>
                <span> o </span>
                <a [routerLink]="['/register']">Registrarse</a>
            </div>          
        </div>

    </div>

    <div class="c-onboarding__footer">
        <span>from</span>
        <img src="{{logoMeta.src}}" alt="{{logoMeta.alt}}">
    </div>


</div>