@import '../../../../styles.scss';

.c-onboarding {

  
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    position: relative;
    height: 100vh;
    justify-content: space-between;


    &__lang{

        font-size: 14px;
    }

    
    &__main {

        display: flex;
        flex-direction: column;
        width: 90%;        
        align-items: center;
        justify-content: center;
      
        
        @include desktop {
            
            width: 40%; 
            height: 50%;
            border: 1px solid $color-light-gray;
            border-radius: 4px;
        }


        &--logo{
          
            margin: 15px auto;    
            
            img{
                width: 175px;
            }
        }

        &--title{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                line-height: 1.2rem;
            }

            button {

                border:none;
                width: 100%;
                background: $color-btn-blue;
                padding: 12px;
                border-radius: 5px;
                
                a{
                    
                    font-weight: 600;
                    color: #ffff;
                }
            }

            &--a{

                margin: 15px;
                font-size: 14px;
                
                a{
                    color: $color-btn-blue;
                    font-weight: 600;                    
                }                
            }
        }
    }

    &__footer{
        
        display: flex;
        flex-direction: column;
        margin: 5vh 0;   
      
        
        span{
            
            text-align: center;
            margin:5px;
            font-size: 12px;
        }
        img{
           
            width: 60px;            
        
        }
    }   
}