@import '../../../../styles.scss';

.c-onboarding {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 15px;
    position: relative;

    &__lang{

        font-size: 14px;
    }

    
    &__main {

        display: flex;
        flex-direction: column;
        width: 80%;
        padding-top: 100px;
        align-items: center;


        &--logo{
          
            margin: 15px auto;    
            
            img{
                width: 170px;
            }
        }

        &--title{

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
            p{
                font-size: 14px;
                padding: 15px;
                text-align: center;
                line-height: 1.2rem;
            }

            button {

                border:none;
                width: 100%;
                background: $color-btn-blue;
                padding: 12px;
                border-radius: 5px;
                
                a{
                    
                    font-weight: 600;
                    color: #ffff;
                }
            }

            &--a{

                margin: 15px;
                font-size: 14px;
                
                a{
                    color: $color-btn-blue;
                    font-weight: 600;                    
                }                
            }
        }
    }

    &__footer{
        
        display: flex;
        flex-direction: column;   
        position: absolute;
        bottom: 20px;  
        
        span{
            
            text-align: center;
            margin:5px;
            font-size: 12px;
        }
        img{
           
            width: 60px;            
        
        }
    }   

}