<div class="c-userinfoprofile">
    <div class="c-userinfoprofile__main">

        <div class="c-userinfoprofile__main--imgprofile">
            <img src="" alt="">
        </div>
        <div class="c-userinfoprofile__main--infoprofile">
            <p>username</p>            
            <button> Editar perfil</button>           
        </div>
    </div>

    <div class="c-userinfoprofile__name">
        <h5>Andrés Vázquez</h5>
        <p>Madrid, Spain</p>
    </div>
    <div class="c-userinfoprofile__follow">
        <div class="c-userinfoprofile__follow--item">
            <span>0</span>
            <p>publicaciones</p>
        </div>
        <div class="c-userinfoprofile__follow--item">
            <span>0</span>
            <p>seguidores</p>
        </div>
        <div class="c-userinfoprofile__follow--item">
            <span>0</span>
            <p>seguidos</p>
        </div>
    
    </div>

</div>