//Simple ITCSS in one page


// settings - variable color
$color-gray: #8E8E8E;
$color-btn-blue-disable: #B2DFFC;
$color-light-gray: #dbdbdb;
$color-btn-blue: rgb(0, 149, 246);
$color-btn-blue-active: rgb(58, 176, 255);


//tools
$tablet: 768px;
$desktop: 992px;
$large: 1200px;

@mixin tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $large) {
    @content;
  }
}


//------- Generics || Reset Values ---------//
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}


//------- Elements---------//
a {
    text-decoration: none;
    color: #000000;
}

body {
    
    margin: 0;
    padding: 0;
    //background: #dadada; 
    
}

.blockscroll{

  height: 100%;
  overflow: hidden;
}


//------- Objects---------//



//------- Components---------//



//------- Trumps---------//



