/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    list-style: none;   
}

a {
    text-decoration: none;
    color: #000000;
}

body {
    
    margin: 0;
    padding: 0;
    background: rgb(30 ,30,30);
    color: #ffffff;
}